* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 50px 0px;
    background: #a6b2f4;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.6s ease-in-out;
}

h1 { 
    font-size: 2.5em;
    margin-top: 60px;
    margin-bottom: 100px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    max-height: 80vh;
    animation: fadeIn 0.6s ease-in-out;
}

th {
    background: #4facfe;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    padding: 12px;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

td {
    background: white;
    color: black;
    padding: 15px 100px;
    border: none;
    text-align: center;
    font-size: 1.0em;
}
