@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a6b2f4;
    color: #fff;
    animation: fadeIn 0.6s ease-in-out;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 120px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 20px;
    margin: 12px 0;
    width: 350px;
    border-radius: 8px;
    transition: all 0.3s ease;
    color: #fff;
    background: #308cdd;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

a:hover {
    background: #4facfe;
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(0,0,0,0.3);
}

@media (max-width: 600px) {
   
    h1 {
        font-size: 2.4em;
        margin: 0px 40px 100px 40px;
    }

    a {
        width: 50%;
    }

}
